    <hr>
    <%
        var year = (new Date()).getFullYear();
    %>
    <div class="row">
        <div class="col text-left frostybot-footer-text"><p class="text-left text-muted">Copyright © <%= year %> Frostybot</p></div>
        <div class="col text-center frostybot-footer-text"><p class="text-center text-muted" id="header_uuid"></p></div>
        <div class="col text-right frostybot-footer-text" style="text-align: right;"><img src="/images/poweredbyfrostybot.png" height="20" /></div>
    </div>
</div>
<div id="frostybot-notifications"></div>
<div id="info"></div>
<div id="warning"></div>
<div id="success"></div>
<div id="error"></div>

</body>
</html>