<div class="row flex-nowrap showpnl" style="margin-left: 0px">
    <div id="pnltradepairtotalgridcontainer" style="height: 600px; width: 250px; margin: 0px; padding: 0px;"></div>
    <div id="pnlchartcontainer" style="height: 600px; width: 698px; padding: 0px; margin: 0px"></div>
</div>

<div class="nopnl hidden"><%- include('../partials/report.nodata.ejs'); %></div>

<script src="/scripts/notifications.js"></script>
<script src="/scripts/api.js"></script>
<!--script src="https://code.jquery.com/jquery-3.5.1.min.js"></script-->
  
<script type="text/javascript">
  
   $(document).ready(function () {
        // prepare the data

        var token = localStorage.getItem("token");
        var uuid = token.uuid;
        var stub = "<%= report_pnlbypair_total.stub %>";
        var days = "<%= report_pnlbypair_total.days %>";

        var params = {
            token: JSON.parse(token),
            stub: stub,
            days: days
        };

        jQuery.getJSON({
            url: "/ui/data/chartdata_pnlbypair_total",
            data: params,
            success: function(result) {

                if (result.length >= 3) {

                    var gridSource = {
                        localdata: result,
                        datafields: [
                            { name: 'Symbol', type: 'string', },
                            { name: 'Total', type: 'number' },
                        ],
                        datatype: "json"
                    };
  
                    var gridAdapter = new $.jqx.dataAdapter(gridSource);

                    $("#pnltradepairtotalgridcontainer").jqxGrid({
                        width: 250,
                        height: 600,
                        //autoheight: true,
                        source: gridAdapter,
                        columnsresize: true,
                        filterable: false,
                        sortable: true,
                        showaggregates: true,
                        showstatusbar: true,
                        statusbarheight: 23,
                        columnsheight: 20,
                        rowsheight: 20,
                        theme: 'dark',
                        showemptyrow: false,
                        columnsmenu: true,
                        autosavestate: true,
                        autoloadstate: true,
                        enablehover: false,
                        selectionmode: 'none',
                        columns: [
                            { text: 'Symbol', datafield: 'Symbol', filtertype: 'checkedlist', width: 'auto', aggregates: ['count'], aggregatesrenderer: function (aggregates) { var renderstring = ""; $.each(aggregates, function (key, value) { renderstring += '<div style="position: relative; margin: 4px; overflow: hidden;"><b>Pairs: </b><font>' + value +'</div>'; }); return renderstring; } },
                            { text: 'Total PNL', datafield: 'Total', hideable: true, width: 100, align: 'right', aggregates: ['sum'], aggregatesrenderer: function (aggregates) { var renderstring = ""; $.each(aggregates, function (key, value) { renderstring += '<div style="position: relative; margin: 4px; overflow: hidden;"><font class="' + ((value.replace('$','') * 1) < 0 ? 'red' : 'green') + '"><b>' + value +'</b></font></div>'; }); return renderstring; }, cellsalign: 'right', cellsformat: 'c2', cellclassname: function(row, column, value, data) { return value < 0 ? "red" : "green" }, aggregates: ['sum'] },
                        ],
                    });

                    var settings = {
                        title: "PNL by Pair",
                        description: "(Total)",
                        enableAnimations: true,
                        showLegend: false,
                        padding: { left: 5, top: 5, right: 25, bottom: 5 },
                        titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
                        source: result,
                        xAxis: {
                            dataField: 'Symbol',
                            unitInterval: 1,
                            /*
                            tickMarks: {
                                visible: true,
                                interval: 1
                            },
                            */
                            gridLines: {
                                visible: false,
                                interval: 1
                            },
                            labels: {
                                angle: 90,
                                horizontalAlignment: 'right',
                                verticalAlignment: 'bottom',
                                rotationPoint: 'right',
                                offset: { x: 0, y: 0 }
                            }
                            
                        },
                        colorScheme: 'scheme05',
                        seriesGroups: [
                            {
                                type: 'column',
                                valueAxis: {
                                    displayValueAxis: true,
                                    axisSize: 'auto',
                                    visible: true,
                                    description: 'PNL ($)'
                                },
                                series: [
                                    {dataField: 'Total', displayText: 'PNL'}
                                ]
                            }
                        ]
                    };
                    
                    $('#pnlchartcontainer').jqxChart(settings);
                    $('.showpnl').show();
                    $('.nopnl').hide();


                } else {

                    $('.showpnl').hide();
                    $('.nopnl').show();
                }

            }
        });

    });
</script>