<div class="row frostybot-panel-area" style="margin: 10px; margin-bottom: 10px; padding: 10px; min-width: 650px;">
    <div class="row mb-2 flex-nowrap">
        <div class="col" style="margin-left: 10px; padding-bottom: 10px; border-bottom: inset 1px #444444;">
        <label class="col-form-label-md frostybot-form-label-lq"><span class="fa fa-exclamation-triangle"></span>&nbsp;<b>No Profit & Loss Data Imported Yet</b></label>
        </div>
    </div>
    <div class="row mb-2 flex-nowrap"> 
        <div class="col" style="margin-left: 10px;">
            <p>Profit & Loss data is only imported when a position is closed. At this point in time there is not enough data available to create this report.<br /><br />To force an import of order data for the last 7 days from the exchange, use the <span class="fas fa-cloud-download-alt"></span> button at the top-right of this panel.<br />Alternatively, check back once your completed about 10 or more trades.</p>
        </div>
    </div>
</div>